# TRANSFORM

In [175]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'gruplar': ["A","B","C","A","B","C"],
                  'degiskenler1': [11,22,33,44,55,66],
                  'degiskenler2': [111,222,333,444,555,666]},
                 columns = ['gruplar','degiskenler1','degiskenler2'])
df

  gruplar  degiskenler1  degiskenler2
0       A            11           111
1       B            22           222
2       C            33           333
3       A            44           444
4       B            55           555
5       C            66           666

In [178]:
df["degiskenler1"]*9

0     99
1    198
2    297
3    396
4    495
5    594
Name: degiskenler1, dtype: int64

In [181]:
df_a = df.iloc[:,1:3]

In [182]:
df_a.transform(lambda x : x-x.mean())

   degiskenler1  degiskenler2
0         -27.5        -277.5
1         -16.5        -166.5
2          -5.5         -55.5
3           5.5          55.5
4          16.5         166.5
5          27.5         277.5

X her bir değişkenden - x.mean() değişkenin ortalamsını çıkardı