# PANDAS DATAFRAME

In [26]:
import pandas as pd

In [27]:
list = [1, 22, 45, 66, 89]
list

[1, 22, 45, 66, 89]

In [31]:
pd.DataFrame(list, columns = ["Values_name"])

   Values_name
0            1
1           22
2           45
3           66
4           89

------

In [32]:
import numpy as np

In [33]:
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [34]:
pd.DataFrame(m, columns = ["var1", "var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

* Dataframe isimlendirme

In [37]:
df = pd.DataFrame(m, columns = ["var1", "var2","var3"])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [39]:
df.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [42]:
df.columns = ["yok1", "yok2", "yok3"]
df.columns

Index(['yok1', 'yok2', 'yok3'], dtype='object')