# GROUPING

In [106]:
import pandas as pd

In [108]:
df = pd.DataFrame({'gruplar': ["A", "B", "C", "A","B","C"],
                              'veri': [11,22,33,44,55,66]}, columns = ['gruplar','veri'])
df

  gruplar  veri
0       A    11
1       B    22
2       C    33
3       A    44
4       B    55
5       C    66

In [109]:
df.groupby('gruplar').mean()

         veri
gruplar
A        27.5
B        38.5
C        49.5

In [110]:
df.groupby('gruplar').sum()

         veri
gruplar
A          55
B          77
C          99