# ELEMAN İŞLEMLERİ

In [43]:
import numpy as np
s1 = np.random.randint(10, size = 5)
s2 = np.random.randint(10, size = 5)
s3 = np.random.randint(10, size = 5)

In [47]:
m = {"var1": s1, "var2": s2, "var3": s3}
m

{'var1': array([0, 8, 2, 2, 2], dtype=int32),
 'var2': array([6, 9, 1, 7, 8], dtype=int32),
 'var3': array([4, 4, 2, 5, 2], dtype=int32)}

In [48]:
df = pd.DataFrame(m)
df

   var1  var2  var3
0     0     6     4
1     8     9     4
2     2     1     2
3     2     7     5
4     2     8     2

In [49]:
df.drop(0, axis = 0)

   var1  var2  var3
1     8     9     4
2     2     1     2
3     2     7     5
4     2     8     2