# GÖZLEM ve DEĞİŞKEN SEÇİMİ : LOC & iLOC

In [62]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1", "var2", "var3"])
df

   var1  var2  var3
0     2    19    22
1    18    26     5
2     1    16     9
3     9     6    19
4     4     4    17
5    29    13    20
6     9    24    20
7    15    10    14
8    17    27     9
9    29     3    21

* loc: tanımlandığı şekli ile seç,m yapmak için kullanılır

In [63]:
df.loc[0:3]

   var1  var2  var3
0     2    19    22
1    18    26     5
2     1    16     9
3     9     6    19

* iloc: alışık olduğumuz indexleme mantığı ile seçim yapar

In [64]:
df.iloc[0:3]

   var1  var2  var3
0     2    19    22
1    18    26     5
2     1    16     9

In [65]:
df.loc[0:3, "var3"]

0    22
1     5
2     9
3    19
Name: var3, dtype: int32

df.iloc[0:3, "var3"] yazarsak hata alırız

In [66]:
df.loc[0:3] ["var3"]

0    22
1     5
2     9
3    19
Name: var3, dtype: int32