# APPLY

In [186]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
                  'degiskenler1': [11,22,33,44,55,66],
                  'degiskenler2': [111,222,333,444,555,666]},
                 columns = ['degiskenler1','degiskenler2'])
df

   degiskenler1  degiskenler2
0            11           111
1            22           222
2            33           333
3            44           444
4            55           555
5            66           666

In [187]:
df.apply(np.sum)

degiskenler1     231
degiskenler2    2331
dtype: int64